@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

.projects-section {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial;
    flex-direction: column;
    overflow: hidden;
}

.projects-container  {
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 15px;
    padding-bottom: 15px;
}

.projects-header {
    margin-top: 10px;
    font-size: 27px;
    font-weight: bold;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--primary-color);
    height:35px;
    border-radius: 5px;

}
.description ul {
    margin: 20px;
    list-style-type: disc;
    color: rgb(245, 245, 241);
}
.project1 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 10px;
    background: var(--primary-color);
    border-radius: 5px;
    box-shadow: 0 0 7px var(--primary-color);
}
.homePage {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: 15px 15px 15px 30px;
    cursor: pointer;

}
.homePage img {
    width: 100%;
    border-radius: 5px;

}
.homePage {
    transition: transform 0.3s ease-in-out;
}

.homePage:hover {
    transform: scale(1.02);
}

.project-description {
    width: 39%;
    color: rgb(245, 245, 241);
    /*background: var(--primary-color);*/
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    border-radius: 5px;


}
.description div {
    margin: 10px;
}
.project-description h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    color: var(--primary-green);
    margin: 10px;
}

.description {
    margin: 15px;
    width: 100%;
    padding: 15px;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
}

.findOut {
    font-size: 20px;
    color: var(--primary-green);
    font-family: 'Montserrat', sans-serif;
    margin: 15px;
    font-weight: bold;
}

.to-come {
    font-size: 15px;
    margin-bottom: 10px;
    font-family: 'Roboto', sans-serif;
}
@media screen and (max-width: 480px) {
.project1 {
    flex-direction: column;
}
    .projects-container  {
        width: 90%;
    }
    .project-description {
        width: 100%;
    }
    .homePage {
        width: 100%;
        margin-bottom: 10px;
        margin-left: 0;
    }
    .homePage img {
        width: 90%;
        margin: 20px;
    }

}
@media screen and (min-width: 481px) and (max-width: 768px) {
    .project1 {
    flex-direction: column;

}

.project-description {
    width: 100%;
}
    .homePage {
        width: 100%;
        margin-bottom: 10px;
        margin-left: 0;
    }
    .homePage img {
        width: 90%;
        margin: 20px;
    }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {

    .project-description {
        width:45%;
    }

    .homePage {
        width: 70%;
        margin: 20px;
    }
}
@media screen and (min-width: 1700px)  {
    .projects-container  {
        width: 65%;

    }
}