.music-record img {
    position: fixed;
    top:15px;
    right: 20px;
    height: 65px;
    cursor: pointer;
    z-index: 999;
}
.slideIn img {
    animation: slideIn 1.5s ease-out forwards;
}
.spinning img {
    animation: spin 5s linear infinite;
}

@keyframes slideIn {
    0% {
        right: -100px;
    }
    100% {
        right: 0px;
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@media screen and (max-width: 480px) {
    .music-record img {
        top:70px;
        right: 5px;
        height: 55px;
    }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
    .music-record img {
        top: 70px;
        right: 5px;
        height: 55px;
    }
}

@media screen and (min-width: 769px) and (max-width: 1124px) {
    .music-record img {
        top:5px;
        right: 5px;
    }
}
