.music-record img {
    position: fixed;
    top:15px;
    right: 20px;
    height: 65px;
    cursor: pointer;
    z-index: 999;
}
.slideIn img {
    animation: slideIn 1.5s ease-out forwards;
}
.spinning img {
    animation: spin 5s linear infinite;
}

@keyframes slideIn {
    0% {
        right: -100px;
    }
    100% {
        right: 15px;
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
