.skills-section {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(7, 29, 3, 0.98);
    flex-direction: column;
}

.skills-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /*max-width: 1000px;*/
    /*width: 100%;*/
    margin: 100px;

}

.skill {
    /*flex: 0 0 calc(20% - 40px);*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
    position: relative;
}

.skill-img {
    width:150px;
    height: 150px;
    background-color: rgba(42, 50, 42, 0.76);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;

}

.skill:hover .skill-img {
    transform: scale(1.05);
    box-shadow: 0 0 8px rgb(76, 235, 7);
}

.skill p {
    margin-top: 10px;
    font-weight: bold;
    text-align: center;
    color: white;
}

@media screen and (min-width: 768px) {
    .skills-container {
        max-width: 1200px;
    }

    .skill {
        flex-basis: calc(20% - 40px);
    }
}
