.top-container {
    overflow: hidden;
    padding: 60px 0;
    background: white;
    white-space: nowrap;
    position: relative;
}

.skills-container:before,
.skills-container:after {
    position: absolute;
    top: 0;
    width: 250px;
    height: 100%;
    content: "";
    z-index: 2;
}

.skills-container:before {
    left: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
}

.skills-container:after {
    right: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
}

.skills-container:hover .logos-slide {
    animation-play-state: paused;
}

.skills {
    display: inline-block;
    animation: 35s slide infinite linear;
}

.skills img {
    height: 50px;
    margin: 0 40px;
}