.about-section {
    height: 100vh;
    justify-content: center;
    display: flex;
    align-items: center;
    /*background-color: rgba(7, 29, 3, 0.98);*/
  
    color: white;
    background-image: url('../../assets/photo3.png');
    background-repeat: no-repeat;
    background-position: left;
    background-size: 700px;





}

