.aboutme-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: var(--primary-color);
}

.aboutme-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.top-aboutme-container {
    width: 63%;
    font-size: 0.82em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    backdrop-filter: blur(25px);
    -webkit-backdrop-filter: blur(25px);
    background-color: var(--bg-color);
    box-shadow: 7px 7px 7px rgba(6, 13, 14, 0.85);
}

.bullet-point {
    font-size: 1.2em;
    font-weight: normal;
    padding: 5px 15px 0 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.bullet-point p {
    text-indent: 20px;
    padding-bottom: 10px;
}

.connect-container:hover {
    transform: scale(1.05);
}

.bullet-points-container {
    width: 100%;
    text-align: justify;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 50px 70px;
}

.connect-container img {
    height: 23px;
}

.connect-container {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    color: var(--primary-color);
    transition: transform 0.3s ease-in-out;
}

.link {
    text-decoration: none;
}

.connect-container p {
    margin-right: 5px;
}

.about-me-header {
    margin-top: 30px;
    font-size: 1.3em;
}

@media (max-width: 576px) {
    .aboutme-section {
        height: fit-content;
        padding: 0;
    }

    .top-aboutme-container {
        padding: 0;
        width: 93%;
    }

    .aboutme-container {
        flex-direction: column;
    }

    .connect-container {
        font-size: 1em;
        margin: 20px;
    }

    .bullet-points-container {
        width: 100%;
        margin: 0;
        padding: 3px;
    }

    .bullet-point p {
        font-size: 1em;
        margin: 15px 10px;
    }

    .aboutme-section {
        height: fit-content;
    }
}

@media (min-width: 576px) and (max-width: 768px) {
    .aboutme-section {
        height: fit-content;
    }

    .aboutme-container {
        flex-direction: column;
    }

    .bullet-points-container {
        width: 100%;
        margin: 0;
        padding: 25px 35px;
    }

    .top-aboutme-container {

    }

    .top-aboutme-container {
        width: 80%;
        padding: 0;
    }

    .skills-list {
    }

    .bullet-point p {
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .aboutme-section {
        height: fit-content;
    }

    .top-aboutme-container {
        padding: 20px;
        width: 85%;
    }

    .bullet-points-container {
        width: 100%;
        margin: 0;
        padding: 25px 45px;
    }

    .top-aboutme-container {
        padding: 0;
    }

    .bullet-point p {
    }
}

@media (min-width: 992px) and (max-width: 1199px) {

}
@media (min-width: 1200px) and (max-width: 1699px) {

}

@media screen and (min-width: 1700px) {

    .bullet-point {
        font-size: 22px;
    }

    .top-aboutme-container {
        width: 65%;
    }
}
