.about-section {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: Arial;
    height: 100vh;
    min-height: 800px;
}

.about-container {
    background: linear-gradient(
            to right,
            rgba(21, 21, 21, 0.96),
            rgba(26, 26, 26, 0.96),
            rgba(46, 44, 44, 0.96)
    );
    box-shadow: 0px 0px 9px black;
    animation: slideInRight 1500ms forwards;
    box-shadow: 0 0  10px #16161c;
    display: flex;
    align-items: center;
    height: 70vh;
    width: 90%;
    padding: 0 20px;
    min-height: 500px;

}

.button-container {
    margin-top: 50px;
    height: 50px;
    width: 150px;
}

@keyframes slideInRight {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}


.photo-container img {
    height: 70vh;
    margin: 30px;
    align-self: flex-end;
    /*margin-top: auto;*/

}
.about-me {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;

}

.about-me h1 {
    font-size: 42px;
    font-weight: lighter;
    margin-top: 70px;
    margin-bottom: 30px;

}

.about-me h2 {
    font-size: 25px;
    font-weight: lighter;
    /*margin: 20px;*/
}

.p-div {
    font-size: 20px;
    margin-right: 20px;
    margin-top: 20px;
}

/* Media Queries */





@media screen and (min-width: 769px) and (max-width: 1024px) {
    .about-section {
        margin-top: 50px;
        height: fit-content;
    }
    .about-container {
        flex-direction: column;
        margin-top: 100px;
        height: fit-content;
        margin-bottom: 200px;

    }

    .about-me {
        width: 80%;

    }

    .photo-container {
        margin: 50px 20px 20px;
    }

    .about-me h1 {
        font-size: 30px;
        margin: 20px;
    }

    .photo-container img {
        height: 60vh;


    }
    .button-container {
        margin-bottom: 25px;
    }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
.about-section {
    height:100%;
}
    .about-container {
        height: fit-content;
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin: 70px 15px 100px;
    }

    .photo-container {
        margin-top: 30px;
        margin-bottom: 50px;
    }
    .photo-container img {
        height: 50vh;

    }
    .about-me {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;


    }
    .about-me h1 {
        font-size: 30px;
        margin: 10px;
    }
    .about-me h2 {
        font-size: 22px;
        margin: 10px;
    }
    .about-me p {
        font-size: 16px;
        margin: 10px;
    }
    .button-container {
        margin-bottom: 25px;
    }
}
@media screen and (max-width: 480px) {
    .about-section {
        height: 100%;
    }
    .about-container {
        height: fit-content;
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin: 50px 15px 100px;
    }
    .about-me {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;

    }

    .photo-container {
        margin: 50px 10px 10px;
    }

    .about-me h1 {
        font-size: 30px;
        margin: 10px;
    }
    .about-me h2 {
        font-size: 18px;
        margin: 10px;
    }
    .about-me p {
        font-size: 16px;
        margin: 10px;
    }

    .photo-container img {
        height: 50vh;

    }

    .button-container {
        margin-bottom: 25px;
    }
}