.home-section {
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(252, 252, 250);
    min-height: 100vh;
    position: relative;
    overflow: hidden;
    font-family: Arial;
    overflow: hidden;
    background:var(--primary-color);
}

.home-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    min-height: 500px;
    position: relative;
    z-index: 1;
    margin-top: 20px;
}

@keyframes slideInLeft {
    0% {
        transform: translateX(-100vw);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInRight {
    0% {
        transform: translateX(100vw);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.photo-container,
.about-me {
    opacity: 0;
    animation-fill-mode: forwards;
}

.photo-container {
    animation-name: slideInLeft;
    animation-duration: 1500ms;
}

.about-me {
    animation-name: slideInRight;
    animation-duration: 1500ms;
}

.button-container {
    margin-top: 30px;
    margin-left: 5px;
    height: 50px;
    width: fit-content;
}

.photo-container img {
    height: 70vh;
    margin-right: 50px;
}

.about-me {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.about-me div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.welcome-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.welcome-animation {
    animation: slideIn 1000ms forwards;
}

.welcome-text {
    font-size: 50px;
    font-weight: lighter;
}

@keyframes slideIn {
    0% {
        transform: translateY(-100%);
        opacity: 0;

    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.about-me h1 {
    font-size: 45px;
    font-weight: lighter;
    margin-top: 70px;
    margin-bottom: 30px;
}

.about-me h2 {
    font-size: 25px;
    font-weight: lighter;
    margin: 3px;
}

/* Media Queries */

@media screen and (min-width: 481px) and (max-width: 1024px) {
    .home-section {
        height: fit-content;;
    }

    .home-container {
        margin-top: 100px;
        margin-bottom: 100px;
        display: flex;
        flex-direction: column;
    }

    .about-me {
        justify-content: center;
        align-items: center;
    }

    .photo-container {
        margin-top: 15px;
    }

    .about-me h1 {
        font-size: 40px;
        margin: 10px;
    }

    .photo-container img {
        min-height: 350px;
    }

    .about-me h2 {
        font-size: 20px;
        margin: 10px;
    }

    .photo-container img {
        margin: 0;
        height: 50vh;
    }

    .button-container {
        margin: 15px;
        width: fit-content;
    }

    .contact-button {
        width: fit-content;
    }
}
@media screen and (max-width: 480px) {
    .home-container {
        margin: 45px 0px 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .photo-container {
        margin: 50px 10px 10px;
    }

    .about-me {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .about-me h1 {
        font-size: 30px;
        margin: 5px;
    }

    .about-me h2 {
        font-size: 18px;
    }

    .about-me p {
        font-size: 16px;
        margin: 10px;
        display: flex;
    }

    .photo-container img {
        height: 50vh;
        margin: 0;
    }

    .button-container {
        width: fit-content;
        margin: 20px;
    }

}
@media screen and (min-width: 1800px) {

    .photo-container img {
        height: 60vh;
}
}