.contact-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    padding: 30px;
    overflow: hidden;
    min-height: 80vh;
    background:var(--primary-color);
}
.contact-container{
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.contact-header {
    color: rgb(245, 245, 241);
    font-size: 35px;
    margin: 30px;
    font-weight: lighter;
    font-family: 'Montserrat', sans-serif;
}
.submission-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.submission-message {
    color: rgb(245, 245, 241);
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}

.contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
}

.contact-element {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

label {
    color: rgb(245, 245, 241);
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: bold;
}

.contact-input,
.contact-textarea {
    width: 70vh;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    background: linear-gradient(
            to right,
            rgba(32, 42, 8, 0.94),
            rgba(67, 92, 17, 0.87),
            rgba(115, 155, 30, 0.84)

    ) no-repeat;


    color: rgb(245, 245, 241);
    font-size: 18px;
    transition: box-shadow 0.3s ease-in-out;

}

.contact-input:focus,
.contact-textarea:focus {
    box-shadow: 0 0 3px var(--primary-green);
    outline: none;
    border: solid black 1px;
}

.contact-textarea {
    height: 120px;
    resize: vertical;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

.contact-button {
    height: fit-content;
    width: fit-content;
    font-size: 18px;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    color: var(--primary-green);
    border: var(--primary-green) 0.125em solid;
    padding: 0.25em 1em;
    border-radius: 0.25em;
    box-shadow: inset 0 0 0.2em 0 var(--primary-green), 0 0 0.5em 0 var(--primary-green);
    position: relative;
    background: var(--primary-color);

}

.contact-button::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 0 0 1.5em 0.2em var(--primary-green);
    opacity: 0;
    transition: opacity 100ms linear;

}

.contact-button:hover,
.contact-button:focus {
    color: var(--primary-green);
    text-shadow: none;
}

.contact-button:hover::before,
.contact-button:focus::before {
    opacity: 1;
}

.contact-button:hover::after,
.contact-button:focus::after {
    opacity: 1;
}

/* Media Queries */

@media screen and (max-width: 480px) {
    .contact-input,
    .contact-textarea {
        width: 100%;
        max-width: 100%;
        min-width: 300px;
    }

    .contact-button {
        width: fit-content;
    }
}

.rocket-image {
    height: 200px;
}

.rocket-container {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    animation: flyAnimation 2s ease-in-out forwards;

}

@keyframes flyAnimation {
    0% {
        bottom: 0;
    }
    90% {
        bottom: 100vh;
    }
    100% {
        bottom: 100vh;

    }
}



@media screen and (min-width: 481px) and (max-width: 768px) {
    .contact-input,
    .contact-textarea {
        width: 100%;
        max-width: 100%;
        min-width: 400px;
    }
    .contact-form {
        position: center;
    }

}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .contact-input,
    .contact-textarea {
        width: 100%;
        max-width: 100%;
        min-width: 550px;
    }
}










