.contact-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    min-height: calc(100vh - 55px);
    width: 100%;
    box-shadow: 0 0 7px rgba(6, 13, 14, 0.85);
    position: relative;
}

.contact-container {
    margin-bottom: 70px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.contact-header {
    color: var(--secondary-color);
    font-size: 1.6em;
    font-weight: bold;
    -webkit-text-stroke: var(--secondary-color) 0.02em;
    margin: 30px;
}

.submission-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.submission-message {
    color: var(--secondary-color);
    font-size: 20px;
}

.contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.contact-element {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

label {
    color: var(--secondary-color);
    margin-bottom: 5px;
    font-size: 0.8em;
    font-weight: bolder;
}

.contact-input,
.contact-textarea {
    width: 70vh;
    height: 45px;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 0;
    background: none;
    font-size: 1em;
    transition: box-shadow 0.3s ease-in-out;
    border-bottom: var(--secondary-color) solid 0.07em;
    color: var(--secondary-color);
}

.contact-input:focus,
.contact-textarea:focus {
    outline: none;
}

.contact-textarea {
    height: 75px;
    resize: vertical;
    color: var(--secondary-color);
}

/**,*/
/**::before,*/
/**::after {*/
/*    box-sizing: border-box;*/
/*}*/


.contact-button {
    height: fit-content;
    width: fit-content;
    font-size: 1em;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    color: var(--primary-color);
    border: none;
    padding: 0.4em 1.5em 0.45em 1.5em;
    backdrop-filter: blur(25px);
    -webkit-backdrop-filter: blur(25px);
    background: linear-gradient(to right, rgba(2, 12, 21, 0.9), rgba(6, 35, 53, 0.9));
    border-radius: 0.1em;
    overflow: hidden;
    position: relative;
    box-shadow: 1px 2px 2px rgba(2, 16, 22, 0.5);
    transition: transform 0.3s ease-in-out;
}

.contact-button:hover {
   transform: scale(1.05);
    background: linear-gradient(to right, rgba(5, 24, 36, 0.9), rgba(12, 48, 70, 0.9));
}

@media (max-width: 576px) {
    .contact-input,
    .contact-textarea {
        width: 100%;
        max-width: 100%;
        min-width: 300px;
    }

    .contact-button {
        width: fit-content;
    }
}

.rocket-image {
    height: 120px;
}

.rocket-container {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    animation: flyAnimation 2s ease-in-out forwards;

}

@keyframes flyAnimation {
    0% {
        bottom: 0;
    }
    90% {
        bottom: 100vh;
    }
    100% {
        bottom: 100vh;

    }
}


@media (min-width: 576px) and (max-width: 768px) {
    .contact-input,
    .contact-textarea {
        width: 100%;
        max-width: 100%;
        min-width: 400px;
    }

    .contact-form {
        /*position: center;*/
    }

}

@media (min-width: 768px) and (max-width: 992px) {
    .contact-input,
    .contact-textarea {
        width: 100%;
        max-width: 100%;
        min-width: 550px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {

}

@media (min-width: 1200px) and (max-width: 1699px) {

}

@media (min-width: 1700px) {
}









