.contact-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
    min-height: calc(100vh - 55px);
    box-shadow: 0 0 7px rgba(6, 13, 14, 0.85);
}

.contact-container {
    margin-bottom: 70px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.contact-header {
    color: var(--secondary-color);
    font-size: 1.5em;
    font-weight: normal;
    margin: 30px;
}

.submission-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.submission-message {
    color: var(--secondary-color);
    font-size: 20px;
}

.contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.contact-element {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

label {
    color: var(--secondary-color);
    margin-bottom: 5px;
    font-size: 0.75em;
}

.contact-input,
.contact-textarea {
    width: 70vh;
    height: 45px;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 0;
    background: none;
    font-size: 18px;
    transition: box-shadow 0.3s ease-in-out;
    border-bottom: var(--secondary-color) solid 0.07em;
    color: var(--secondary-color);
}

.contact-input:focus,
.contact-textarea:focus {
    outline: none;
}

.contact-textarea {
    height: 45px;
    resize: vertical;
    color: var(--secondary-color);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

.contact-button {
    height: fit-content;
    width: fit-content;
    font-size: 1em;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    color: var(--primary-color);
    border: none;
    padding: 0.35em 1.35em 0.37em 1.3em;
    backdrop-filter: blur(25px)!important;
    -webkit-backdrop-filter: blur(25px)!important;
    background-color: rgba(6, 16, 17, 0.85)!important;
    border-radius: 0.1em;
    position: relative;
    background: none;
}

.contact-button::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    cursor: pointer;
    transition: ease-in-out 1s;
}

.contact-button:hover,
.contact-button:focus {
}

.contact-button:hover::before,
.contact-button:focus::before {
    opacity: 1;
}

.contact-button:hover::after,
.contact-button:focus::after {
    opacity: 1;
}

/* Media Queries */

@media screen and (max-width: 480px) {
    .contact-input,
    .contact-textarea {
        width: 100%;
        max-width: 100%;
        min-width: 300px;
    }

    .contact-button {
        width: fit-content;
    }
}

.rocket-image {
    height: 120px;
}

.rocket-container {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    animation: flyAnimation 2s ease-in-out forwards;

}

@keyframes flyAnimation {
    0% {
        bottom: 0;
    }
    90% {
        bottom: 100vh;
    }
    100% {
        bottom: 100vh;

    }
}


@media screen and (min-width: 481px) and (max-width: 768px) {
    .contact-input,
    .contact-textarea {
        width: 100%;
        max-width: 100%;
        min-width: 400px;
    }

    .contact-form {
        /*position: center;*/
    }

}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .contact-input,
    .contact-textarea {
        width: 100%;
        max-width: 100%;
        min-width: 550px;
    }
}










