.header {
    position: fixed;
    left: 0;
    height: 100vh;
    width: 8%;
    display: block;
    z-index: 100;
    font-family: 'Playfair Display', serif;
    background-color: rgba(15, 8, 5, 0.96);
    padding-top: 20px;
}

ul {
    list-style: none;
}

.header.hide {
    transform: translateY(-100%);
}

.header-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

.logo-header img {
    height: 33px;
    margin-top: 15px;

}

.logo-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.header-link-logo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding-top: 30px;
}

.navigation ul {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
}

.navigation li {
    margin-bottom: 30px;
}
.header-link-logo {
    margin-bottom: 15px !important;
}
.navigation a {
    color: white;
    text-decoration: none;
    font-size: 1em;
    position: relative;
    cursor: pointer;
}

.navigation a::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: transparent;
    transition: width 0.3s ease-in-out,
    background-color 0.3s ease-in-out,
    box-shadow 0.3s ease-in-out;
}

.navigation a:hover::after {
    width: 100%;
}

.header h1 {
    color: rgb(245, 245, 241);
    font-size: 24px;
    margin-left: 15px;
}

.link-logo {
    height: 30px;
}

.mobile-menu-toggle {
    display: none;
}

@media (max-width: 767px) {
    .header-content {
        padding: 0 10px;
    }

    .navigation {
        list-style: none;
        margin: 0;
        padding: 0;
        max-height: 0;
        top: 100%;
        left: 0;
        width: 100%;
        overflow: hidden;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        background: var(--primary-color);
        position: absolute;
    }

    .navigation.open {
        animation: dropdownAnimation 2s ease forwards;
        display: block;
    }

    @keyframes dropdownAnimation {
        from {
            max-height: 0;
        }
        to {
            max-height: 500px;
        }
    }
    .header h1 {
        font-size: 20px;
    }

    .burger-container img {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: 35px;
        padding-right: 10px;
    }

    .mobile-menu-toggle {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        cursor: pointer;
    }

    .burger-icon {
        color: rgb(248, 248, 245);
        width: 30px;
        height: 3px;
        margin: 3px;
        transition: transform 0.3s ease-in-out;
    }
    .mobile-menu-toggle.open .burger-icon {
        transform: rotate(180deg);
    }
    .navigation ul {
        margin: 10px;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .navigation li {
        margin: 10px 0;
    }

    .navigation a {
        color: rgb(245, 245, 241);
        font-size: 18px;
    }
}
