.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    transition: transform 0.3s ease-in-out;
    transform: translateY(0);
    display: block;
    z-index: 100;
    background: #151414;
}

.header.hide {
    transform: translateY(-100%);
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    padding: 0 15px;
}

.logo-header img {
    margin-left: 30px;
    height: 40px;
}

.navigation ul {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 30px;
    padding: 0;
}

.nav-element {
    margin: 25px;
}

.nav-element a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    position: relative;
    font-family: Arial;
    font-weight: lighter;
}

.nav-element a::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: transparent;
    transition:
            width 0.3s ease-in-out,
            background-color 0.3s ease-in-out,
            box-shadow 0.3s ease-in-out;
}

.nav-element a:hover::after {
    width: 100%;
    background-color:rgb(162, 225, 28);
    box-shadow: 0 0 7px rgb(162, 225, 28);
}

.header h1 {
    color: white;
    font-size: 24px;
    margin-left: 15px;
}

.linkedin {
    height: 40px;
}

@media (max-width: 768px) {
    .header-content {
        padding: 0 10px;
    }

    .header h1 {
        font-size: 20px;
    }

    .nav-element a {
        font-size: 16px;
    }
}


@media (max-width: 480px) {
    .header {
        background: transparent;
    }
}