.gallery {
    height: fit-content;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}

.photos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    position: relative;
}

.g-photo {
    width: calc(33.333% - 10px);
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    flex-grow: 1;
    margin: 1px;
}

.g-photos-wrapper img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    object-fit: cover;
    height: 300px;
}

.gallery-drops {
    background-image: url('../../assets/drops-background/opacity-drops-big.webp');
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 270%;
    z-index: 1;
    opacity: 1;
    transition: opacity 700ms ease-in-out;
}

.gallery-overlayer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    transition: opacity 700ms ease-in-out;
    backdrop-filter: blur(var(--blur));
    -webkit-backdrop-filter: blur(var(--blur));
    z-index: 0;
}

.g-photo:hover .gallery-drops,
.g-photo:hover .gallery-overlayer,
.g-photo:hover .gallery-animation {
    opacity: 0;
}

.gallery-info h2 {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    flex-direction: column;
    font-family: 'Bebas Neue', sans-serif;
    color: var(--primary-color);
    font-size: 2.1em;
    transition: opacity 700ms ease-in-out;
}

.g-photo:hover .gallery-info h2 {
    opacity: 0;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(249, 246, 246, 0.37);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.modal-image {
    width:67%;
    border: 5px solid white;
}

 /*Media Queries */

@media (max-width: 576px) {
    .gallery {
        width: 95%;
    }

    .g-photo {
        width: 100%;
        height: 270px;
        margin-bottom: 3px;
    }

    .gallery-info h2 {
        font-size: 1.8em;
    }

    .gallery-drops {
        height:100%;
    }
}


@media (min-width: 576px) and (max-width: 768px) {
    .gallery {
        width: 95%;
    }

    .g-photo {
        width: 100%;
        height: 300px;
        margin-bottom: 3px;
    }

    .gallery-info h2 {
        font-size: 1.8em;
    }
    .gallery-drops {
        height: 100%;
        background-image: url("../../assets/drops-background/opacity-drops-huge.webp");
    }
}


@media (min-width: 768px) and (max-width: 992px) {
    .gallery {
        width: 90%;
    }

    .g-photo {
        width: calc(45% - 10px);
        /*height: 300px;*/
        margin-bottom: 3px;
    }

    .gallery-info h2 {
        font-size: 1.8em;
    }

    .modal-image {
        width: 95%;
    }
    .gallery-drops {
        width:170%;
        height: 400px;
        background-image: url("../../assets/drops-background/opacity-drops-huge.webp");
    }
    .gallery-drops img{
        height: 100%;
    }
    .g-photo {
        width: calc(55% - 10px);
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    .gallery-drops {
        height: 100%;
        background-image: url("../../assets/drops-background/opacity-drops-big.webp");
    }

}

@media (min-width: 1200px) {
    .gallery-drops {
        height: 170%;
    }
}
