.details-wrapper {
    height: 80vh;
    width: 90%;
    /*border: solid #151414 5px;*/
    border: solid rgb(162, 225, 28) 7px;
    /*border-bottom: solid rgb(162, 225, 28) 10px;*/
    position: absolute;
    z-index: 1;
    padding: 5px;
    /*background: rgb(162, 225, 28);*/
    background: #151414;
}

.details {
    height: 100%;
    width: 100%;
    background: #151414;
    border: solid rgb(162, 225, 28) 2px;
}
.close-button {
    display: flex;
    justify-content: right;
    align-items: center;
    width: 100%;

}
.close {
    height: 40px;
    font-size: 20px;
    cursor: pointer;
    margin: 20px;
}