.background {
    width: 90%;
    min-height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 998;
    backdrop-filter: blur(100px);
    -webkit-backdrop-filter: blur(100px);
    background-color: rgba(6, 16, 17, 0.6);
    overflow-y: auto;
    overflow-x: hidden;
}

.close-button {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 15px 0 0 25px;

}

.close {
    font-size: 18px;
    cursor: pointer;
    background: none;
    border: none;
    color: var(--primary-color);
    transition: transform 0.3s ease-in-out;
}

.close:hover {
    transform: scale(1.07);
}

.screen-shots {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 0 30px 0;
}

.slider-container {
    box-shadow: 7px 12px 17px rgba(6, 13, 14, 0.96);
    margin-bottom: 20px;
}

.description-details {
    margin: 15px 0;
    font-weight: lighter;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.description-details p {
    font-size: 1.05em;
    justify-content: flex-start;
    width: 70%;
    padding-bottom: 5px;
    color: var(--primary-color);
    font-weight: normal;
}

.description-details ul {
    width: 70%;
    list-style-type: disc;
    color: var(--primary-color);
    font-size: 1.05em;
    font-weight: normal;
    text-align: justify;
}

/*.description-details li {*/
/*    margin-bottom: 5px;*/
/*}*/

.description-details-button {
    margin-left: 10px;
    margin-right: 10px;
    border: solid 0.03em var(--primary-color);
    font-size: 0.9em;

}

.carousel-root {
    width: 610px;
}

.carousel .thumbs-wrapper {
    display: none;
}

.carousel .control-dots .dot {
    background: #010e11;
}

.carousel .carousel-status {
    display: none;
}

.carousel .control-arrow, .carousel.carousel-slider .control-arrow {
    background: none;
    top: 0;
    opacity: 1;
}
.carousel .control-arrow:focus, .carousel .control-arrow:hover {
    background: none;
}
.carousel .control-arrow:focus, .carousel .control-arrow:focus {
    background: none;
}
.carousel .control-next.control-arrow::before {
    border-left: 9px solid #010e11;
}

.carousel .control-prev.control-arrow::before {
    border-right: 9px solid #010e11;
}

.carousel .control-arrow:focus, .carousel .control-arrow:hover {
    background: none;
}

.carousel.carousel-slider .control-arrow {
    padding: 1px;
}

.carousel.carousel-slider .control-arrow:hover {
    background: none;
}

@media (max-width: 576px) {
    .background {
        width: 100%;
        z-index: 1000;
    }
    .description-details {
        width: 85%;
    }
    .carousel-root {
        width: 360px;
    }
    .close-button {
        padding: 50px 0 25px 20px;
    }
    .contact-button-div {
        margin: 20px 0 90px 0;
    }
    .description-details p, .description-details ul {
        width: 100%;
        padding: 5px 5px 5px 10px;
    }
    .description-details-button {
        margin-left: 5px;
        margin-right: 5px;
    }
}

@media (min-width: 576px) and (max-width: 768px) {
    .background {
        width: 100%;
        z-index: 1000;
    }

    .carousel-root {
        width:500px;
    }
    .close-button {
        padding: 30px 0 0 20px;
    }

}

@media (min-width: 768px) and (max-width: 992px) {
    .background {
        width: 87%;
    }

    .carousel-root {
        width:500px;
    }
    .close-button {
        padding: 30px 0 0 20px;
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    .background {
        width: 89%;
    }
}

@media (min-width: 1200px) {

}

@media (min-width: 1700px) {
}
