.details-wrapper {
    height: 80vh;
    width: 90%;
    /*border: solid rgba(162, 225, 28, 0.77) 1px;*/
    position: absolute;
    z-index: 1;
    padding: 30px;
    /*background: rgb(162, 225, 28);*/
    background: #151414;
}

.details {
    height: 100%;
    width: 100%;
    padding: 2px;
    box-shadow: 0 0 10px rgb(164, 235, 9);
}
.close-button {
    display: flex;
    justify-content: right;
    align-items: center;
    width: 100%;
}
.close {
    height: 40px;
    font-size: 20px;
    cursor: pointer;
    margin: 20px;
}