.contact-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
}

.contact-header {
    color: white;
    font-size: 38px;
    font-family: Arial;
    font-weight: lighter;
    margin: 100px;
}

.contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
}

.contact-element {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

label {
    color: white;
    font-weight: bold;
    margin-bottom: 5px;
    font-family: Arial;
    font-size: 18px;
    font-weight: lighter;
}

.contact-input,
.contact-textarea {
    width: 70vh;
    padding: 10px;
    border: none;
    margin: 10px;
    border-radius: 5px;
    background: linear-gradient(
            to right,
            rgba(21, 21, 21, 0.96),
            rgba(26, 26, 26, 0.96),
            rgba(46, 45, 45, 0.96)

    );
    color: white;
    font-family: Arial, sans-serif;
    font-size: 18px;
    box-shadow: 0px 0px 2px white;
    transition: box-shadow 0.3s ease-in-out;
}

.contact-input:focus,
.contact-textarea:focus {
    box-shadow: 0 0 3px rgb(162, 225, 28);
    outline: none;
}

.contact-textarea {
    height: 120px;
    resize: vertical;
}

.contact-button {
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    background-color: rgba(151, 208, 31, 0.96);
    color: white;
    font-family: Arial, sans-serif;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
    margin-bottom: 200px;
}

.contact-button:hover {
    background-color: rgba(123, 171, 20, 0.96);
    transform: scale(1.05);
}

/* Media Queries */

@media screen and (max-width: 480px) {
    .contact-form {
        width: 90%;
    }

    .contact-input,
    .contact-textarea {
        width: 100%;
        max-width: 100%;
    }

    .contact-button {
        width: 100%;
        margin-bottom: 50px;
    }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
    /*.contact-form {*/
    /*    width: 70%;*/
    /*}*/
    .contact-input,
    .contact-textarea {
        width: 100%;
    }

    .contact-form {
        position: center;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .contact-input,
    .contact-textarea {
        width: 100%;
    }
}










