.contact-section {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(25, 26, 25, 0.9);
    flex-direction: column;
    padding: 50px;
    height: 70vh;

}

.contact-header {
    color: white;
    font-size: 38px;
    margin-bottom: 20px;
    font-family: Arial;
    font-weight: lighter;
}

.contact-form {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center the form elements horizontally */
    width: 400px;
}


.contact-element {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


label {
    color: white;
    font-weight: bold;
    margin-bottom: 5px;
}

.contact-input,
.contact-textarea {
    width: 70vh;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
    font-family: Arial, sans-serif;
    font-size: 14px;
}

.contact-textarea {
    height: 120px;
    resize: vertical;
}

.contact-button {
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    background-color: #5ecd1a;
    color: white;
    font-family: Arial, sans-serif;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out; /* Add a transition effect */
}

.contact-button:hover {
    background-color: rgba(76, 235, 7, 1);
    transform: scale(1.05); /* Add a scale effect on hover */
}

