.contact-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}
.contact-container{
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.contact-header {
    color: white;
    font-size: 38px;
    font-family: Arial;
    font-weight: lighter;
    margin: 50px;
}

.contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
}

.contact-element {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

label {
    color: white;
    font-weight: bold;
    margin-bottom: 5px;
    font-family: Arial;
    font-size: 18px;
    font-weight: lighter;
}

.contact-input,
.contact-textarea {
    width: 70vh;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    background: linear-gradient(
            to right,
            rgba(41, 52, 18, 0.94),
            rgba(85, 117, 20, 0.87),
            rgba(142, 195, 29, 0.84)

    );
    color: white;
    font-family: Arial, sans-serif;
    font-size: 18px;
    transition: box-shadow 0.3s ease-in-out;
}

.contact-input:focus,
.contact-textarea:focus {
    box-shadow: 0 0 5px rgb(162, 225, 28);
    outline: none;
}

.contact-textarea {
    height: 120px;
    resize: vertical;
}

:root {
    --clr-neon: rgb(162, 225, 28);
    --clr-bg: rgb(162, 225, 28);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

.contact-button {
    height: 45px;
    width: fit-content;
    font-size: 18px;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    color: var(--clr-neon);
    border: var(--clr-neon) 0.125em solid;
    padding: 0.25em 1em;
    border-radius: 0.25em;
    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;
    box-shadow: inset 0 0 0.5em 0 var(--clr-neon), 0 0 0.5em 0 var(--clr-neon);
    position: relative;
    background: #181717;
}

.contact-button::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 0 0 2em 0.5em var(--clr-neon);
    opacity: 0;
    background-color: var(--clr-neon);
    z-index: -1;
    transition: opacity 100ms linear;

}

.contact-button:hover,
.contact-button:focus {
    color: var(--clr-bg);
    text-shadow: none;
}

.contact-button:hover::before,
.contact-button:focus::before {
    opacity: 1;
}

.contact-button:hover::after,
.contact-button:focus::after {
    opacity: 1;
}

/* Media Queries */

@media screen and (max-width: 480px) {
    .contact-input,
    .contact-textarea {
        width: 100%;
        max-width: 100%;
        min-width: 300px;
    }

    .contact-button {
        width: fit-content;
    }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
    .contact-input,
    .contact-textarea {
        width: 100%;
        max-width: 100%;
        min-width: 400px;
    }
    .contact-form {
        position: center;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .contact-input,
    .contact-textarea {
        width: 100%;
        max-width: 100%;
        min-width: 550px;
    }
}










