.skills-section {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background: linear-gradient(
            to top,
            var(--primary-color),
            rgb(21, 24, 15),
            rgba(30, 42, 8),
            rgba(21, 24, 15),
var(--primary-color)
    ) no-repeat;
    font-family: Arial;
    box-shadow: 0 0 5px black;

}
.skills-container-main {

    height: 130px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}

.top-container {
    display: flex;
    flex-direction: row;
    width: 135vh;

}

.skills-container {
    display: flex;
    flex-direction: row;
    animation: 30s slide infinite linear;

}

@keyframes slide {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}
.skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 50px;
}

.skill-img {
    width: 50px;

}


@keyframes underline {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}

.skill p {
    margin-top: 10px;
    text-align: center;
    font-size: 18px;
}

.skill {
    flex-basis: calc(20% - 50px);
}

/* Media Queries */

@media screen and (max-width: 480px) {

    .skill {
        flex-basis: calc(33.33% - 40px);
        margin: 20px;
    }
    .skills-load {
        font-size: 17px;

    }
    .skill p {
        font-size: 16px;
    }

    .skills-container {
        animation: 15s slide infinite linear;
    }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
    .skill {
        flex-basis: calc(33.33% - 40px);
        margin: 30px;
    }

    .skill p {
        font-size: 16px;
    }
    .skills-container {
        animation: 15s slide infinite linear;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .skill {
        flex-basis: calc(33.33% - 40px);
        margin: 35px;
    }

    .skills-container {
        animation: 15s slide infinite linear;
    }
}


@media screen and (min-width: 1025px) and (max-width: 1700px) {
 .top-container {
     width: 100%;
 }
}


