.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(
            to right,
            rgba(21, 21, 21, 0.96),
            rgba(26, 26, 26, 0.96),
            rgba(46, 45, 45, 0.96)

    );

    text-align: center;
    height: 50px;
    font-family: Arial;

}


.footer-content {
    color: white;
}

.footer p {
    margin: 20px;
    font-size: 14px;
}

