.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    background: linear-gradient(
            to right,
            rgb(21, 21, 21),
            rgb(26, 26, 26),
            rgb(46, 45, 45)

    );

    text-align: center;
    height: 50px;
    font-family: Arial;

}


.footer-content {
    color: white;
}

.footer p {
    margin: 20px;
    font-size: 14px;
}

