.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(
            to bottom,
            rgb(14, 15, 14),
            rgb(24, 26, 24),
            rgb(45, 53, 45)
    );

    text-align: center;
    height: 50px;
    font-family: Arial;

}


.footer-content {
    color: white;
}

.footer p {
    margin: 20px;
    font-size: 14px;
}

