.options {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    min-height: 100vh;
    box-shadow: 0 0 7px rgba(6, 13, 14, 0.85);
    padding: 100px 0 50px 0;
    background-image: url("../../assets/secondary-background.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
}

.options-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.options-switcher {
    display: flex;
    justify-content: center;
    width: 60%;
    border-bottom: solid 1px var(--primary-color);
    z-index: 10;
    position: absolute;
    top: 25px;
}

.options-switcher button {
    margin: 0 15px;
    padding: 10px 20px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    color: var(--primary-color);
    font-size: 1.3em;
    font-weight: bolder;
    text-transform: uppercase;
    transition: transform 0.3s ease-in-out;
}

.options-switcher button:hover {
    transform: scale(1.1);
}

@media screen and (max-width: 480px) {

    .options {
        background-image: url("../../assets/secondary-background-mobile.jpg");
        background-attachment: scroll;
    }
    .options-switcher {
        width: 90%;
        top: 25px;
    }

    .options-switcher button {
        margin: 0 5px;
        padding: 10px 5px;
        color: var(--primary-color);
        font-size: 1.1em;

    }
}

@media screen and (min-width: 481px) and (max-width: 768px) {

    .options {
        background-image: url("../../assets/secondary-background-mobile.jpg");
        background-attachment: scroll;
    }
    .options-switcher {
        width: 90%;
        top: 25px;
    }

    .options-switcher button {
        margin: 0 7px;
        padding: 10px 7px;
        color: var(--primary-color);
        font-size: 1.1em;

    }
}

@media screen and (min-width: 769px) and (max-width: 1124px) {

    .options {

        background-attachment: scroll;
    }
    .options-switcher {
        width: 90%;
        top: 25px;
    }

    .options-switcher button {
        margin: 0 7px;
        padding: 10px 7px;
        color: var(--primary-color);
        font-size: 1.1em;

    }
}

@media screen and (min-width: 1025px) and (max-width: 1500px) {


}

@media screen and (min-width: 1700px) {

}
