body {
    background-size: 100% 200%;
    background: linear-gradient(to right,
    rgba(10, 10, 10, 0.96),
    rgba(33, 33, 33, 0.96),
    rgba(10, 10, 10, 0.96)) no-repeat;
}

.page-container {
    background-image: url('./assets/Untitled design(2).png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: bottom;
}
* {
    margin: 0;
    padding: 0;
}

@media (max-width: 768px) {
    .page-container {
        background-size: contain;
    }

}