body {
    background-size: 100% 200%;
    background: rgb(25, 25, 25);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media (max-width: 768px) {
    .page-container {
        background-size: contain;
    }
}