@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
.motivation2-section {
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background:var(--primary-color);

}
.motivation2-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}
.neon {
    top: 50%;
    left: 50%;
    margin: 0;
    padding: 0 20px;
    font-size: 32px;
    color: var(--primary-green);
    /*text-shadow: 0 0 2px rgba(162, 225, 28, 0.92);*/
    font-family: 'Montserrat', sans-serif;
}

@keyframes slide-in {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes slide-in-reverse {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes rotate {
    0% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.header-container {
    opacity: 0;
    animation-duration: 2500ms;
}

.slide-in.visible {
    animation-name: slide-in;
    opacity: 1;
}

.slide-in-reverse.visible {
    animation-name: slide-in-reverse;
    opacity: 1;
}

.header1 {
    margin: 10px;
}
.header2 {
    margin: 10px;
}

.box {
    position: relative;
    width: 80%;
    height: 55%;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

}
.box::before
{
    content: '';
    position: absolute;
    width: 1500px;
    height: 1500px;
    background-image: conic-gradient(transparent, transparent, rgba(125, 173, 35, 0.95),
    rgba(134, 178, 34, 0.86), rgba(88, 124, 8, 0.9), transparent);
    /*background-image: conic-gradient(transparent, transparent, var(--primary-color),*/
    /* var(--primary-color), transparent);*/
    animation: animate 7s linear infinite;
}

@keyframes animate {

    0%
    {
        transform: rotate(0deg);
    }
    100%
    {
        transform: rotate(360deg);
    }
}

.box span {
    position: absolute;
    inset: 5px;
    background: var(--primary-color);
    border-radius: 3px;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 481px)  {

    .motivation2-section {
        height: 50vh;
    }
    .neon {
        font-size: 18px;
        font-weight: bold;
        /*text-shadow: 0 0 5px rgba(162, 225, 28, 0.87);*/
    }
    .box {
        width: 96%;
    }

    .box span {
        inset: 4px;
    }
}

@media screen and (min-width: 1900px)  {
    .box {
        width: 50%;
    }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
    .neon {
        font-size: 20px;
        font-weight: bold;
    }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
    .neon {
        font-size: 25px;
        font-weight: bold;
    }
}
