@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
.motivation2-section {
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.motivation2-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}
.neon {
    top: 50%;
    left: 50%;
    margin: 0;
    padding: 0 20px;
    font-size: 40px;
    color: rgb(162, 225, 28);
    text-shadow: 0 0 25px rgb(162, 225, 28);
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
}

@keyframes slide-in {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes slide-in-reverse {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes rotate {
    0% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.header-container {
    opacity: 0;
    animation-duration: 3s;
}

.slide-in.visible {
    animation-name: slide-in;
    opacity: 1;
}

.slide-in-reverse.visible {
    animation-name: slide-in-reverse;
    opacity: 1;
}

.header1 {
    margin: 10px;
}
.header2 {
    margin: 10px;
}

.box {
    position: relative;
    width: 70%;
    height: 90%;
    background: #151414;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.box::before
{
    content: '';
    position: absolute;
    width: 1500px;
    height: 1500px;
    background-image: conic-gradient(transparent, transparent, rgb(183, 241, 82),
    rgb(167, 238, 11), rgb(88, 124, 8), transparent);
    animation: animate 7s linear infinite;
}

@keyframes animate {

    0%
    {
        transform: rotate(0deg);
    }
    100%
    {
        transform: rotate(360deg);
    }
}

.box span {
    position: absolute;
    inset: 7px;
    background: #151414;
    border-radius: 5px;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 481px)  {
    .neon {
        font-size: 20px;
        font-weight: bold;
        text-shadow: 0 0 10px rgb(162, 225, 28);
    }
    .box {
        width: 96%;
    }
}

