@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
.aboutme-section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: fit-content;
    /*background: rgb(245, 245, 241);*/
    font-family: Arial;
    background-image: url('../../assets/Untitled design.png');
    background-position: center;
    background-size: cover;
    flex-direction: column;
    padding-top: 5px;
    padding-bottom: 5px;
    overflow: hidden;


}
.highlight {
    color: rgba(149, 208, 23, 0.86);
}

.aboutme-container {
    width: 100%;
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.top-aboutme-container {
    margin-top: 10px;
    width:95%;
    background: var(--primary-color);
    color: rgb(245, 245, 241);
    font-size: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
    /*padding-left: 150px;*/
    /*padding-right: 150px;*/
    /*box-shadow: 0 0 3px white;*/
}
.top-aboutme-container h1 {
    margin-top: 30px;
    font-family: 'Montserrat', sans-serif;
}
.astronaut-container {
    min-height: 100%;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 80px;
}

.bullet-point p {
    text-indent: 20px;
    margin-left: 80px;
    margin-right: 70px;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
}
.astronaut-container img {
    height: 300px;
    animation: floatingAnimation 4s ease-in-out infinite;
}

@keyframes floatingAnimation {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}
.bullet-points-container{
    width: 80%;
    padding-left: 50px;
}
.bullet-point {
    font-size: 18px;
    margin:15px;
    text-align: justify;
}

.bullet-point-ul {
    list-style-type: disc;
    color: rgb(245, 245, 241);
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
}

.connect-container img{
    height: 25px;
    width: 25px;
}
.top-connect-container {
    margin-bottom: 35px;
}
.connect-container {
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    color: rgba(149, 208, 23, 0.86);
    /*text-shadow: 0 0 2px rgb(162, 225, 28);*/
    font-weight: bold;
}
.link  {
    text-decoration: none;
}
.connect-container p {
    margin-right: 5px;
}
.connect-button {
    margin-bottom: 25px;
}
.skills-list-header {
    margin: 3px;
    font-size: 22px;
    /*color: var(--secondary-color);*/
    /*font-family: 'Montserrat', sans-serif;*/
    font-family: 'Roboto', sans-serif;

}
.skills-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    margin-bottom:10px;
}

.skills-each {
    background: var(--primary-color);
    color: rgb(245, 245, 241);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-basis: calc(33.33% - 20px);
    min-width: 170px;
    height: fit-content;
    padding: 5px;
    opacity: 0;
    transform: translateX(100px);
    transition: opacity 1s ease-in-out,
    transform 1s ease-in-out;
    border-radius: 5px;
    padding-top: 15px;
    padding-bottom: 15px;
    /*box-shadow: 0 0 3px white;*/
}
.skills-each.slide-right {
    opacity: 1;
    transform: translateX(0);
}

.skills-each.slide-right-delayed {
    opacity: 1;
    transform: translateX(0);
    transition-delay: 1500ms;
}

.skills-each img {
    height: 105px;
}
.header-skills-each {
    display: flex;
    justify-content: center;
    align-items: center;

}
.skills-each h1 {
    font-size: 23px;
    margin-top: 15px;
    margin-bottom: 10px;
    font-weight: bold;
    color: rgba(149, 208, 23, 0.86);
    /*text-shadow: 0 0 2px rgb(162, 225, 28);*/
    font-family: 'Montserrat', sans-serif;
}
.contain {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 70px;
}

.each {
    margin: 5px;
    color: rgb(245, 245, 241);
    height: 25px;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: bolder;
}

@media screen and (max-width: 480px) {
    .aboutme-section {
        height: fit-content;
        padding: 0;
    }
    .top-aboutme-container {
        padding: 0;
    }
    .skills-list-header {
        margin-top: 10px;
        margin-bottom: 0;
    }
    .aboutme-container {
        flex-direction: column;
    }
    .connect-container {
        font-size: 14px;
        margin: 20px;
    }
    .astronaut-container {
        height: fit-content;
        width: 100%;
        margin-top: 20px;
        margin-bottom: 10px;
        margin-right: 0;
    }
    .astronaut-container img {
        height: 250px;
    }
    .bullet-points-container{
        width: 100%;
        margin: 0;
        padding: 3px;
    }
    .bullet-point p{
        font-size: 17px;
        margin: 15px 10px;

    }
    .skills-list {
        display: flex;
        flex-direction: column;
    }
    .aboutme-section {
        height: fit-content;
    }
    .skills-each {
        margin-top: 10px;
        height: fit-content;
        width: 100%;
        min-height: 300px;
    }
    .each  {
        font-size: 18px;
    }
    .top-aboutme-container h1 {
        font-size: 30px;
    }
    .skills-each img {
        height: 150px;
    }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
    .aboutme-section {
        height: fit-content;
    }

    .each {
        font-size: 16px;
    }

    .astronaut-container img {
        height: 250px;
        margin: 20px;
    }

    .aboutme-container {
        flex-direction: column;
    }

    .bullet-points-container {
        width: 100%;
        margin: 0;
        padding-left: 10px;
    }

    .skills-list {

        justify-content: space-around;
        overflow: hidden;
    }

    .top-aboutme-container {
        padding: 20px;
    }

    .skills-each img {
        height: 70px;
        width: 70px;
    }

    .skills-each {
        height: fit-content;
        min-height: 250px;
        margin: 0px;
    }

    .top-aboutme-container {
        width: 90%;
        padding: 0;
    }

    .skills-list {
        width: 90%;
    }

    .bullet-point p {
        margin-left: 50px;
        margin-right: 50px;
    }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
    .aboutme-section {
        height: fit-content;
    }
    .top-aboutme-container {
        padding: 20px;
    }
    .astronaut-container img {
        height: 250px;
        margin: 20px;
    }
    /*.aboutme-container {*/
    /*    flex-direction: column;*/
    /*}*/
    .bullet-points-container{
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .each  {
        font-size: 16px;
    }
    .top-aboutme-container {
        padding: 0;
    }
    .bullet-point p {
        margin-left: 50px;
        margin-right: 50px;
    }


}

@media screen and (min-width: 1025px) and (max-width: 1500px) {

    .top-aboutme-container {
        padding: 20px;
    }

}
@media screen and (min-width: 1700px)  {
    .skills-list {
        width: 50%;
    }
    .bullet-point {
        font-size: 22px;
    }
    .skills-each {
        width: 50%;
    }
    .top-aboutme-container{
        width: 50%;
    }
}